NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://username:password@host/database?sslmode=require"

JWT_ACCESS_SECRET="your-access-token-secret"
JWT_ACCESS_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="your-refresh-token-secret"
JWT_REFRESH_EXPIRES_IN="7d"

PROVIDER_ENCRYPTION_KEY="your-provider-encryption-key"